body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid hsl(0, 0%, 23%);
    border-radius: 10px;
    
}
@media (max-width: 900px) {
    body {
        max-width: 100%;
        padding: 10px;
    }
}
@media (max-width) {
    body {
        padding: 5px;
    }
}

header {
    text-align: center;
}

.quote-image {
    margin-left: 130px;
    width: 75%;
}

.card {
    max-width: 300px;
    height: auto;
    text-align: center;

}

.articleCover {
    max-width: 100%;
    border-radius: 4px;
}
.statement:hover {
    background-color: hsl(0, 0%, 5%);
    border-radius: 5px;
    padding-top: 2px;
    padding-bottom: 5px;
}
.paragraph {
    font-size: 15px;
    color: hsl(0, 0%, 70%);
}

.newsletter{
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 10%);
    border: none;
    border-radius: 4px;
    width: 100px;
    height: 25px;
    font-size: 15px;
    font-weight: bold;
}

.input{
    color: hsl(0, 0%, 86%);
    background-color: hsl(0, 0%, 21%);
    border: none;
    border-radius: 4px;
    height: 20px;
}
.subscribe{
    color: hsl(0, 0%, 86%);
    background-color: hsl(0, 0%, 51%);
    border: none;
    border-radius: 4px;
    height: 25px;
    margin-left: 10px;
    font-weight: bold;

}